# Core app
streamlit
pandas
numpy

# ML / DL
--extra-index-url https://download.pytorch.org/whl/cpu
torch

# PyTorch Geometric (needed for: from torch_geometric.nn import ...)
--find-links https://data.pyg.org/whl/torch-2.2.0+cpu.html
torch-geometric

transformers
sentence-transformers

# OpenAI client
openai

# Utils
joblib

# Viz
plotly
networkx
pyvis
matplotlib
